@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#bgimg{
    background-size: cover;
}
#subTileFrame{
    padding-top: 2.7vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subTitle{
    width: 67%;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#center-box {
    padding-top: 1vw;
    padding-bottom: 2vw;
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-box {
    padding-top: 1vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 80%;
}

#center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 80%;
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
}

#noticeFrame {
    width: 70%;
    padding-bottom: 4%;
}
#notice{
    font-family:HangeulNuri-Bold;
    font-size: 2vw;
    line-height: 200%;
}
#writerFrame{
    padding-top: 2.5%;
    text-align: right;
}
#writer{
    font-family:HangeulNuri-Bold;
    font-size: 2vw;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4vw;
    position: relative;
    width: 70%;
    padding-bottom:39.4%;
    margin-bottom: 3vw;
}

.video iframe{
    position: absolute;
    top: 0;
    left: 0 ;
    right: 0;
    bottom: 0;
    width:100%;
    height: 100%;
}




